.booking{
    background-color: aliceblue;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(36, 36, 36, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 100%;
}
.booking-title{
    padding: 30px;
    width: 30%;
	text-align: center;
	background-color: rgb(163, 163, 141);

}
.booking-info{
	padding: 30px;
	width: 100%
}
#vaccination{
    background-color: beige;
}
#vaccination .booking-title{
    background-color: rgb(112, 112, 98);
}
.btn{
    background-color: #C4C4C4;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #026C00;
	font-size: 16px;
	padding: 12px 25px;
	bottom: 30px;
	right: 0;
	letter-spacing: 1px;
    float:right;
}
.btn:hover{
    background-color: #023f01;
}
.book-modal{
	padding-left:14px;
  	width: 50%;
  	box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 30%;
	right : 50%;
  	background-color: #DCDCDC	;
}
.book-modal label{
	width:25%;
	display: inline-block;
} 
.book-modal input[type="text"], .book-modal form input[type="date"]{
	
	height: 30px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 3%;
  	padding: 0 15px;
	width :60%;
}

input [type="radio"] {
	float :right;
	left :0;
	
}
/* Add a background color when the all the inputs in any form in register file get focus */
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
	background-color: #f1c3df;
	outline: none;
}
.close {
	color: rgb(240, 3, 3);
	float: right;
	font-size: 40px;
	font-weight: bold;
	top: 0 ;
  }
  .close:hover,
.close:focus {
	background-color: #000000;
  color: rgb(240, 3, 3);
  text-decoration: none;
  cursor: pointer;
}
h1 {
	text-align: center;
	color: #660740;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}