.cards img{
    width : 80%;
}
.cards{
    display: flex;
	font-size:18px;
    opacity: .9;
    margin: 14px;
    padding: 14px;
}
.register-card{
    width:90%;
	background-color: aliceblue;
	margin:14px;
	display: grid;
	grid-template-columns: 40% 60%;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(36, 36, 36, 0.2);
	padding :16px;
}
.login-card{
    width:90%;
	background-color: aliceblue;
	margin:14px;
	display: grid;
	grid-template-columns: 40% 60%;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(36, 36, 36, 0.2);
	padding :16px;
}

.btn{
    background-color: #C4C4C4;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #026C00;
	font-size: 16px;
	padding: 12px 25px;
	letter-spacing: 1px;
    float:right;
}
.btn:hover{
    background-color: #88eb86;
    color: #ffffff;
}
.content{
    margin-left:0;
    padding:1px 16px;
    margin-top:6%;
    background: url('../images/Covid-19-white.jpg') no-repeat center fixed;
    background-size: cover;
}


/*Register form style */
.register{
	padding-left:14px;
  	width: 50%;
  	box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 30%;
	right : 50%;
  	background-color: #DCDCDC	;
	line-height: normal;
}
.register label{
	width:25%;
	display: inline-block;
} 
.register input[type="text"], .register form input[type="date"]{
	
	height: 30px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 3%;
  	padding: 0 15px;
	width :60%;
}

input [type="radio"] {
	float :right;
	left :0;
	
}

/*Login Form style */
.login {
	text-align: center;
  	width: 40%;
  	box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 35%;
	right : 50%;
  	background-color: #DCDCDC	;
	overflow: auto;
      
}

/*All h1 tags in register style*/
h1 {
  	text-align: center;
  	color: #660740;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;

} 
.login form label i{
	margin-top: 14px;
}
.login form label {
  	display: block;
  	justify-content: center;
  	text-align: center;
  	width: 10%;
  	height: 50px;
  	background-color:  #860a55;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
	display: block;
	width: 80%;
	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 5%;
  	padding: 0 15px;
}
/* Add a background color when the all the inputs in any form in register file get focus */
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
	background-color: #f1c3df;
	outline: none;
}
input[type="submit"] {
	
	border-radius: 14px;
  	width: 98%;
  	padding: 15px;
 	margin-top: 20px;
  	color: #026C00;	
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	background-color: #C4C4C4;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: green;
	  transition: background-color 0.2s;
      color: #ffffff;
	  transition: color 0.2s;
}
.close {
	color: rgb(240, 3, 3);
	float: right;
	font-size: 40px;
	font-weight: bold;
	top: 0 ;
  }
  .close:hover,
.close:focus {
	background-color: #000000;
  color: rgb(240, 3, 3);
  text-decoration: none;
  cursor: pointer;
}
.remember{
	display: block;
	padding: 14px;
	margin: 14px;
}
.reset{
	float: left;
	padding: 14px;
	margin: 14px;
}
